<app-nav></app-nav>
<div class="payment-data" *ngIf="payments.length > 0">
  <h1>PAYMENT DETAILS</h1>
  <table>
    <thead>
      <tr>
        <th>Payment ID</th>
        <th>Amount</th>
        <th>Payment Date</th>
        <th>Method</th>
        <!-- <th>Ticket ID</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{ payment.paymentId }}</td>
        <td>₹{{ payment.amount }}</td>
        <td>{{ payment.paymentDate | date: 'short' }}</td>
        <td>{{ payment.method }}</td>
        <!-- <td>{{ payment.ticketId }}</td> -->
      </tr>
    </tbody>
  </table>
</div>