<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Homepage</title>
</head>
<nav>
    <div class="logo">EventHub</div>
    <ul>
        <!-- https://tse4.mm.bing.net/th/id/OIP.8XgzvxJwuo59fQ_peoU2ggHaHa?w=160&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7 -->
        <li><a href="/app-about">About</a></li>
        <li><a href="/app-event">Events</a></li>
        <li><a href="/app-contact">Contact</a></li>
    </ul>
</nav>
<body>
    <main>
        <section class="welcome">
            <h1>WELCOME TO EVENT HUB</h1>
            <p>Event hub brings students and organizers together to create unforgettable experiences.</p>
            <div class="buttons">
                <!-- <button class="Admin">Admin</button>
                <button class="user">User</button> -->
                <button onclick="location.href='/app-adminlogin'">ADMIN</button>
                <button onclick="location.href='/app-registration'">USER</button>
            </div>
        </section>
    </main>
</body>
</html>

<!-- Footer -->
<footer>
    <p>&copy; 2025 Event Management System. All rights reserved.</p>
</footer>