 <!-- Navigation Bar -->
 <nav>
    <div class="logo">EventHub</div>
    <ul>
        <li><a href="/app-home">Home</a></li>
        <li><a href="/app-createevent">Create-Event</a></li>
        <li><a href="/app-manage-category">Manage-category</a></li>
        <li><a href="/app-managebookings">View-Bookings</a></li>
        <li><a href="/app-payments">Manage-Payments</a></li>
        <li><a href="/app-viewuser">ViewUsers</a></li>
    </ul>
</nav>
 

<!-- Footer -->
<footer>
    <p>&copy; 2025 Event Management System. All rights reserved.</p>
</footer>

