<app-usernav></app-usernav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
  
    <!-- Main Content -->
    <div class="main-content">
        <div class="illustration">
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/event-management-illustration-download-in-svg-png-gif-file-formats--female-planner-coordination-planning-organization-pack-services-illustrations-5395861.png?f=webp" alt="Smartphone Illustration">
        </div>
        <div class="about-us">
            <h2>ABOUT US!!</h2>
            <p>Welcome to the College Event Hub, your one-stop platform for all college events! Our mission is to streamline the process of organizing, managing, and participating in college events, making it easier for students and administrators to stay connected and engaged...</p>
            <div class="buttons">
                <button type="button" class="event-button" onclick="window.location.href='/app-events'">Visit Event</button>
                <button class="account-button">Start Your Account</button>
            </div>
        </div>
    </div>
</body>
</html>