
<nav>
    <div class="logo">EventHub</div>
    <ul>
        <li><a href="/app-about">About</a></li>
        <li><a href="/app-event">Events</a></li>
        <li><a href="/app-contact">Contact</a></li>
    </ul>
</nav>
    <title>User Login</title>

<body>
    <div class="illustration">
        <img src="https://tse4.mm.bing.net/th/id/OIP.mCtnNwFU-ui-q_LZbroWHwHaIb?w=157&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Smartphone Illustration">
    </div>
    <!-- Login Form -->
    <div class="login-container">
        <h2>ADMIN LOGIN</h2>
        <form (ngSubmit)="onLogin()">
            <div class="input-group">
                <i class="fa fa-user"></i>
                <label>Username</label>
                <input type="text" id="username" [(ngModel)]="username"  name="username" required placeholder="Enter UserName">
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                <label for="password">Password</label>
                <input type="password" id="password" [(ngModel)]="password"  name="password" required placeholder="password">
            </div>
            <button type="submit" class="login-button">LOGIN</button>
        </form>
    </div>
</body>
<!-- Footer -->
<footer>
    <p>&copy; 2025 Event Management System. All rights reserved.</p>
</footer>